{% extends 'emails/email_base.html.twig' %}

{% block content %}
    Hallo <strong>{{ firstname }} {{ lastname }}</strong>,
    <br />
    <br />
    Du wurdest zu Taskoo eingeladen!
    <br />
    Klicke auf den folgenden Link um deine Anmeldung abzuschließen.
    <br />
    <br />
    <a href="{{ settings.appUrl }}/invite/{{ invite_url }}">{{ settings.appUrl }}/invite/{{ invite_url }}</a> <br />
    <small>Der Einladungslink ist 24 Stunden gültig.</small>
{% endblock %}